body{
    background-image: linear-gradient(to right, #007e0d, #23c680, #23c680 , #007e0d);
}
h1 {
    text-align: center;
    text-decoration: underline dashed;
    width: 100%;
}
.submit-btn{
    margin-right: auto;
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #007e0d;
    color: #007e0d;
    padding: 5px;
    
}
.submit-btn:hover{
    background-color: #007e0d;
    color: white;
    cursor: pointer;
}
.email-inputfield:focus{ 
    outline: none;
    border-color: #23c680;
    box-shadow:inset 0 0 10px #23c680;
}
.email-error{
    border: 1px solid red;
    color: red;
}
.email-error:focus{
    box-shadow: inset 0 0 10px red;
}
@media screen and (min-width:767px) {
    
    .body-container{
        display: flex;
        flex-wrap: wrap;
    }
    .random-img-container{
        display: flex;
        flex-wrap: wrap;
        width: 275px;
        height: 275px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        padding: 5px;
        background-color: white;
    }
    .random-img-container > img{
        order: -1;
        border-radius: 4px;
        width: 200px;
        margin: 0 auto;
    }
    .random-img-container > .refresh-btn{
        width: 200px;
        padding: 15px;
        border-radius: 50px;
        color: #007e0d;
        background-color: white;
        border: 1px solid #007e0d;
        text-transform: uppercase;
        margin: 0 auto;
    }
    .refresh-btn:hover{
        color: white;
        background-color: #007e0d;
        cursor: pointer;
    }
    .storage-container{
        display: flex;
        width: calc(100% - 300px);
        margin-left: auto;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
    }
    .storage-container > form{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        
    }
    form > .form-header{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #007e0d;
        text-decoration: underline;
        text-transform: uppercase;
    }
    form > .email-inputfield{
        margin-left: auto;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid #007e0d;
        border-right: none;
        padding: 10px;
    }
    .form-error-message{
        width: 100%;
        color: red;
        text-align: center;
    }
    .storage-container > div{
        display: flex;
        flex-wrap: wrap;
        
        width: 100%;
    }
    .display-container{
        display: flex;
        flex-wrap: wrap;
    }
    .display-container > h2{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #007e0d;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .display-container > div{
        width: calc(50% - 20px);
        
    }
    .display-container>.saved-header{
        background-color: #007e0d;
        color: white;
        padding: 0 5px;
        margin: 2px 4px;
        border: 1px black solid;
        border-radius: 25px;
    }
    .display-container>.saved-email{
        font-size: 1.5rem;
        text-decoration: underline;
        padding: 0 5px;
        word-break: break-all;
        margin-left: 5px;
    }
    .saved-images{
        padding-left: 10px;
    }
    .saved-image{
        width: 50px;
        height: 50px;
        margin: 0 5px;
        border-radius: 16px;
        margin-top: 10px;
    }
}
@media screen and (min-width:992px) {
    .body-container{
        width: 975px;
        margin: 0 auto;
    }
    
}
@media screen and (min-width:1260px) {
    .body-container{
        width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width:767px) {
    .random-img-container{
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 275px;
        height: 275px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        padding: 5px;
        background-color: white;
    }
    .random-img-container > img{
        order: -1;
        border-radius: 4px;
        width: 200px;
        margin: 0 auto;
    }
    .random-img-container > .refresh-btn{
        width: 200px;
        padding: 15px;
        border-radius: 50px;
        color: #007e0d;
        background-color: white;
        border: 1px solid #007e0d;
        text-transform: uppercase;
        margin: 0 auto;
    }
    .refresh-btn:hover{
        color: white;
        background-color: #007e0d;
        cursor: pointer;
    }
    .storage-container{
        display: flex;
        margin-top: 10px;
        width: 100%;
        margin-left: auto;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
    }
    .storage-container > form{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        
    }
    form > .form-header{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #007e0d;
        text-decoration: underline;
        text-transform: uppercase;
    }
    form > .email-inputfield{
        margin-left: auto;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid #007e0d;
        border-right: none;
        padding: 10px;
    }
    form > .submit-btn{
        margin-right: auto;
        border-radius: 0px 4px 4px 0px;
        border: 1px solid #007e0d;
        border-left: none;
        padding: 5px;
    }
    .form-error-message{
        width: 100%;
        color: red;
        text-align: center;
    }
    .display-container > h2{
        width: 100%;
        text-align: center;
        font-size: 2rem;
        color: #007e0d;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .display-container > div{
        width: 90%;
        margin: auto;
        
    }
    .display-container>.saved-header{
        background-color: #007e0d;
        color: white;
        margin: 0 auto;
        border: 1px black solid;
        border-radius: 25px;
        text-align: center;
    }
    .display-container>.saved-email{
        font-size: 1.5rem;
        text-decoration: underline;
        padding-left: 20px;
        word-break: break-all;
        margin: 0 auto;
    }
    .saved-images{
        padding-left: 10px;
    }
    .saved-image{
        width: 50px;
        height: 50px;
        border-radius: 15px;
        padding: 5px;
    }
}
@media screen and (max-width:992px) {
    .body-container{
        width: 95%;
        margin: 0 auto;
    }
}
